@charset "utf-8";
/*------------------------------------------------------------
------------------------------------------------------------*/
body {
	background-color: #EDEDED;
	line-height: 1.5;
}
#container {
	width: 1000px;
	margin: 0 auto;
	text-align: left;
	padding-bottom: 10px;
}
#header {
	height: 100px;
	overflow: hidden;
	
background: url("header.jpg"/*tpa=http://www.yhgrt.com/Template/Images/common/header.jpg*/)  right bottom no-repeat #fff;
}
#header h1 {
	margin: 32px 0 0 20px;
	_margin: 32px 0 0 10px;
	float:left;
}
#header .headerR {
	float: right;
	width: 408px;
	padding-right: 10px;
	padding-top: 40px;
}
#header .headerR p {
	float: right;
	padding-left: 6px;
	color: #C6C6C6;
	background: url("icon03.gif"/*tpa=http://www.yhgrt.com/Template/Images/common/icon03.gif*/)  1px 5px no-repeat;
}
#header .headerR p a {
	padding: 0 6px 0 6px;
	color: #6C6C6C;
}
#header .headerR a img {
	float: right;
	padding-right: 14px;
}
#header .headerR form {
	float: right;
	margin-bottom: 7px;
	padding-right: 20px;
}
.headerR  form .cpkey{
	height: 12px;
	margin: 1px 1px 0 2px;
	width: 143px;
	border: 1px solid #FFF;
	
	}
.headerR  form .input{
	display:inline-block;
	overflow: hidden;
	width: 172px;
	height: 19px;
	padding: 1px;
	background: url("input_bg.jpg"/*tpa=http://www.yhgrt.com/Template/Images/input_bg.jpg*/) right bottom no-repeat;
	}
.headerR  form  .image{
	padding: 2px 1px 0 0;
	}
/*nav*/
#globalNavi {
	height: 32px;
	line-height: 32px;
	overflow: hidden;
	margin-bottom: 5px;
	background-color: blue;
	color: #FFF;
	
}
#globalNavi ul {
	float: left;
}
#globalNavi ul li {
	float: left;
	color: #fff;
}
#globalNavi ul li a {
	display: block;
	width: 127px;
	height: 32px;
	line-height: 32px;
	text-align: center;
	color: #FFF;
}
#globalNavi ul li a:hover {
	color: #FFF !important;
	background: url("navi_hover.jpg"/*tpa=http://www.yhgrt.com/Template/Images/common/navi_hover.jpg*/)  left top no-repeat;
}
.navicen {
	width: 1px;
	height: 32px;
	line-height: 32px;
	background: url("navi_cen.jpg"/*tpa=http://www.yhgrt.com/Template/Images/common/navi_cen.jpg*/) no-repeat;
	 
}
.navtime {
	float: right;
	padding-left: 15px;
	padding-right: 10px;
	background: url("icon04.gif"/*tpa=http://www.yhgrt.com/Template/Images/common/icon04.gif*/) 1px 13px no-repeat;
	
}
.phone {
	display: block;
	width: 167px;
	height: 16px;
	float: right;
	padding: 13px 10px 0 0;
}
.banner {
	overflow: hidden;

}
/*main*/

#main {
	width: 1000px;
	overflow:hidden;
	padding: 18px 0px 2px 0px;

}
.title {
	height: 28px;
	color: #222;
	padding-left: 14px;
	overflow: hidden;
	background: url("title_bg.jpg"/*tpa=http://www.yhgrt.com/Template/Images/common/title_bg.jpg*/)  left bottom repeat-x;
}
.title p {
	padding-top: 5px;
	float: left;
}
.title p strong {
	color: #0353CE;
}
.title p span {
	font-size:8px !important;
	_font-size:10px !important;
	font-weight: bold;
}
.title a {
	float: right;
	padding: 12px 4px 0 0;
}
.sidetitle {
	color: #107A00;
	background: url("title01.jpg"/*tpa=http://www.yhgrt.com/Template/Images/common/title01.jpg*/) no-repeat;
}
.linktitle {
	height: 23px;
	line-height: 23px;
	background: url("title_bg.jpg"/*tpa=http://www.yhgrt.com/Template/Images/common/title_bg.jpg*/)  repeat-x;
	border: 1px solid #D6D6D6;
	padding-left: 14px;
	color: #222;
}
.infoTitle {
	background: url("title03.jpg"/*tpa=http://www.yhgrt.com/Template/Images/common/title03.jpg*/) left bottom no-repeat;
}
.newtitle {
	background: url("title04.jpg"/*tpa=http://www.yhgrt.com/Template/Images/common/title04.jpg*/) bottom no-repeat;
}
.protitle {
	background: url("title05.jpg"/*tpa=http://www.yhgrt.com/Template/Images/common/title05.jpg*/) bottom no-repeat;

}
/*sideBar*/
#sideBar {
	width: 222px;
	float: left;
	overflow: hidden;
}
#sideBar .sidebox {
	margin-bottom: 20px;
	border: 1px solid #ccc;
	padding: 1px;
	background-color: #FFF;
}

#sideBar .sidebox .sideList {
	padding: 8px 0 13px 23px;
	background: url("sidebar_bg.jpg"/*tpa=http://www.yhgrt.com/Template/Images/common/sidebar_bg.jpg*/) right bottom  no-repeat #FFF;
}
#sideBar .sidebox .sideList ul li a {
	display: block;
	height: 28px;
	line-height: 28px;
	background: url("icon.gif"/*tpa=http://www.yhgrt.com/Template/Images/common/icon.gif*/) 0 9px  no-repeat;
	padding-left: 18px;
}
#sideBar .sidebox .sideList ul li a:hover {
}
#sideBar .linkbox {
	border: 1px solid #ccc;
	padding: 8px 7px 8px 7px;
	background-color: #FFF;
	
}
#sideBar  .linkList {
	overflow: hidden;
	padding: 18px 0 0 7px;
}
#sideBar  .linkList a img{
	margin-bottom: 6px;
	}
#sideBar  .linkList ul li {
	line-height: 24px;
	padding-left: 4px;
}
.lititle {
	line-height: 37px;
	font-size: 14px;
	color: #FF8402;
}
.shangmeng {
	overflow: hidden;
	height: 28px;
	line-height: 28px;
	border: 1px solid #CCC;
	background-color: #FFF;
	
}
.shangmeng p{
	height: 14px;
	line-height: px;
	}
.shangmeng  span{
	display: block;
	
	float: left;
	color: #007261;
	text-align: center;
	width: 98px;
	height: 28px;
	background: url("title_bg.jpg"/*tpa=http://www.yhgrt.com/Template/Images/common/title_bg.jpg*/)  repeat-x;
	border-right: 1px solid #CCC;
	}
.shangmeng p a {
	float: left;
	padding: 0 15px 0 15px;
}
/*conts*/
#conts {
	overflow: hidden;
	width: 763px;
	float:right;
}
/*footer*/
#footer {
	border: 1px solid #CFCFCF;
	background-color: #FFF;
	overflow: hidden;
	width: 1000px;
}
#footer .footerNav {
	height: 30px;
	line-height: 30px;
	background-color: white;
	
	
}
#footer .footerNav span{
	float: left;
	padding-left: 10px;
	}
	#footer .footerNav p{
		float: right;
		}
#footer .footerNav p a {
color: #FFF;
}
#footer p {

}
#footer p a {
	padding:0 10px 0 10px;

}
#footer p a:hover {
}
.fl{
	float: left;
	line-height: 35px;
	padding-left: 10px;
	 
	}
#newsDiv{
		background: #FFF;
		width:65%;
		height:310px;
	font-size:14;
}
#newsDiv ul{
	font-size:14;
}