<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
"http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.cgl.hotel.dao.UserDao">
	<resultMap type="User" id="UserResult">
		<result property="id" column="id"/>
		<result property="userName" column="userName"/>
		<result property="password" column="password"/>
		<result property="phone" column="phone"/>
		<result property="idCard" column="idCard"/>
		<result property="address" column="address"/>
		<result property="role" column="role"/>
		<result property="salary" column="salary"/>
		<result property="sex" column="sex"/>
		<result property="birthday" column="birthday"/>
	</resultMap>
	
	<select id="login" parameterType="User" resultType="User">
		select * from user where id=1
	</select>
	<select id="getALlUser" resultMap="UserResult">
		select * from user
	</select>
	
</mapper> 